<li class="list-group-item grayBack postItem"> <%=userName%> <%=comment.message %>
<span class="time"> <%= comment.createdAt.getHours() > 12 ? comment.createdAt.getHours() - 12 : comment.createdAt.getHours()%>:<%= comment.createdAt.getMinutes() %> </span>  </li>