/*Global*/
.spaceMaker{
  min-height:50px;
}
.list-group-item{
  border-color: rgb(50,50,60);
}
.blackBack{
  background-color:rgba(26,26,29,.5);
}
.blackBackDrink{
background-color:rgba(26,26,29,.5);
}
.blackBackDrink{
background-color:rgba(26,26,29,.5);
border-color: rgb(41,101,168);
}
.blackBackCoffee{
background-color:rgba(26,26,29,.5);
border-color: rgb(169,108,0);
}
.blackBackCoffee a{
color: rgb(169,108,0);
}
.blackBackBite{
background-color:rgba(26,26,29,.5);
border-color: rgb(156,97,255);
}
.blackBackBite a{
color: rgb(106,97,255);
}
.blackBackMeal{
background-color:rgba(26,26,29,.5);
border-color: orange;
}
.blackBackMeal a{
color: orange;
}
.grayBackDrink{
  background-color:rgba(228,229,233,.9);
  border-right-color: rgb(41,101,168);
  border-left-color: rgb(41,101,168);
}
.grayBackCoffee{
  background-color:rgba(228,229,233,.9);
  border-right-color:rgb(169,108,0);
  border-left-color:rgb(169,108,0);
}
.grayBackBite{
  background-color:rgba(228,229,233,.9);
  border-right-color: rgb(126,97,255);
  border-left-color: rgb(126,97,255);
}
.grayBackMeal{
  background-color:rgba(228,229,233,.9);
  border-right-color: orange;
  border-left-color: orange;
}
.list-group{
  margin-bottom:0;
}


.navBar{
  z-index:10;
}
.modal{
  color:rgb(67,67,67);
}
.signUpGroup{
  border:none;
}
.signInGroup{
   border:none;
}


/*Index*/
.alert{
  border: 3px solid white;
  border-radius:5px;
  background-color:rgba(55,55,55,.5);
}
body{
   background-image:url("../images/indexBlur.jpg") ;
  font-family: 'Quattrocento Sans', sans-serif;
  color: rgb(225,237,249);
}
#indexBody{
  background-image:url("../images/indexBlue.jpg") ;
  font-family: 'Noto Sans', sans-serif;
}
.fa{
  color:rgba(45,45,45,1);
  padding-left:25px;
  padding-right: 25px;
}
.glyphicon{
  color:rgba(45,45,45,1);
  padding-left:35px;
  padding-right:35px;
  padding-top:50px;
  padding-bottom:35px;

}

.fa-pencil{
  margin-top:0;
  color:rgb(218,232,248);
  -webkit-filter: blur(0px);
}

.cutleryActive{
  -webkit-transition: 1s;
  transition: 1s;
  color:orange;
  font-size:130px;
  -webkit-filter: blur(0px);
}
.coffeeActive{
  -webkit-transition: 1s;
  transition: 1s;
  color: rgb(153,90,0);
  font-size:130px;
  -webkit-filter: blur(0px);
}
.glassActive{
  -webkit-transition: 1s;
  transition: 1s;
color: rgb(89,160,224);
font-size:130px;
-webkit-filter: blur(0px);
}
.appleActive{
  -webkit-transition: 1s;
  transition: 1s;
color:rgb(106,97,255);
-webkit-filter: blur(0px);
font-size:130px;
}
.profileImg{
  padding-bottom:8px;
}
.inactive{
-webkit-filter: blur(1.5px);
font-size:127px;
}
.mainTitle{
  text-align: center;

  color:white;
  font-size:128px;
}
.indexBtnDiv{
  text-align:center;
  font-size:18px;
}
.indexBtn{
  background-color:rgba(0,0,0,0);
  font-size:22px;
  border:4px solid white;
  font-family: 'Noto Sans', sans-serif;
  border-radius:0;
  transition:2s;
  -webkit-transition:1s;
}
.mainContainer{

}
/*Main Page*/
#mainGreeting{
  color:orange;
}
#mainSpan{
  font-size:128px;
  text-align:center;
}
#drinksDiv {
  overflow:auto;
  max-height:550px;
}
#coffeeDiv {
  overflow:auto;
  max-height:550px;
}
#biteDiv {
  overflow:auto;
  max-height:550px;
}
#mealDiv {
  overflow:auto;
  max-height:550px;
}
.smallImg{
  height:200px;
  width:200px;
  padding-bottom:40px;
}
#tinyImg{
  padding-top:10px;
}
.postsDiv{
  color:orange;
  font-size:20px;
}
.postItem{
  text-align:center;
  color: rgb(225,237,249);
  font-size:20px;

}
.postItemDiv{
  padding-bottom:50px;
}
.jumboContainer{
  background-color:rgba(16,22,36,1);
  border:3px solid rgb(30,79,147);
  border-bottom-left-radius:45px;
  border-bottom-right-radius:45px;
  padding-bottom:-60px;
  z-index:-1;
  /*-webkit-filter: blur(1px);*/

}
.jumbotron{
  background-color:rgba(15,15,16,0);
  margin-top:-100px;

}
#mainPlus{
  font-size:32px;
  color:orange;
}

.commentItem{
   color:rgb(38,38,38);
  text-align:left;
  font-size:15px;
}
.commentItemEven{
   color:rgb(38,38,38);
  text-align:right;
  font-size:15px;
}
#commentUserName{
color:rgb(247,0,94);
font-weight: bold;

}
#commentUserNameEven{
color:rgb(175,45,255);
font-weight: bold;
text-align:right;

}


#userNameDrink{
  font-family: 'Noto Sans', sans-serif;
  font-size:24px;
  color: rgb(41,101,168);
}
#userNameCoffee{
  font-family: 'Noto Sans', sans-serif;
  font-size:24px;
  color: rgb(169,108,0);
}
#userNameBite{
  font-family: 'Noto Sans', sans-serif;
  font-size:24px;
  color:rgb(106,97,255);
}
#userNameMeal{
  font-family: 'Noto Sans', sans-serif;
  font-size:24px;
  color: orange;
}
.at{
  color:rgb(83,209,237);
}
.hidden{
  display:none;
}
.time{
  color: rgb(225,237,249);
}
.absoluteDiv{
  background-color:rgba(15,15,16,.95);
  position:absolute;
  top:25%;
  left:25%;
  /*margin-left:16.8%;*/
  z-index:-100;
  min-height:750px;
  overflow:hidden;
}
.hoverBtn{
transition: 1s;
-webkit-transition: 1s;
background-color:rgba(255,255,255,1);
color:black;
}
/*Show Page*/
#restaurantTitle{
  color:orange;
}
.showImage{
  border-radius:10px;
  border: 2px solid white;
}
.list-group-item:first-child {
border-top-left-radius:23px;
border-top-right-radius:23px;
}
.aboutContainer{
  background-color:rgba(15,15,16,.5);
  font:18px;
}
/*Modals*/

.fa-coffee:before {
vertical-align: bottom;
line-height: 139px;
padding-left:25px;
padding-right:25px;
}
.showDiv{
  font-size:28px;
}
.footer{
  font-size:25px;
  text-align: center;
  background-color: rgba(15,15,16,.7);
}
.list-spacing{
  margin-bottom: 35px;
}
.aboutJumbotron{
  padding-bottom: 0;
  margin-bottom: 0;
}