<html>
<head>
  <title>SIPRMNCH</title>
  <!-- Latest compiled and minified CSS & JS -->
   <link rel="stylesheet" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
   <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400italic,400' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="../css/style.css">
   <link rel="stylesheet" href="/css/style.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
</head>
<body>
  <div class="container aboutContainer">
    <div class="row spaceMaker"></div>
    <div class="row spaceMaker"></div>
    <div class="jumbotron">
      <div class="container text-center">
        <h1>About SIPMRMNCH</h1>
      </div>
    </div>
    <div class="row spaceMaker"></div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h3> Frequently Asked Questions</h3>
        <ul class="list-group list-spacing">
          <li class="list-group-item blackBack">What is SIPRMNCH?</li>
          <li class="list-group-item blackBack">SIPRMNCH is a platform for users to invite others to share in their dining experience!  It can be used to arrange casual meetups, to share photos of food and drink, or just to keep an eye on what restaurants are hopping in your area!</li>
        </ul>
        <ul class="list-group list-spacing">
          <li class="list-group-item blackBack">My posts keep disappearing. What's up?</li>
          <li class="list-group-item blackBack">SIPRMNCH is meant to be a limited snapshot of eating and drinking in your city.  Therefore, all posts expire after one and a half hours.</li>
        </ul>
         <ul class="list-group list-spacing">
          <li class="list-group-item blackBack">Who is behind SIPRMNCH?</li>
          <li class="list-group-item blackBack">SIPRMNCH was designed and implemented by <a data-toggle="modal" href='#contactModal'>Dave Raskin</a>, a Seattle-based Web Developer, during his time as a student in General Assembly's Immersive Web Development program.</li>
        </ul>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>


  <div class="modal fade" id="contactModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">SIPRMNCH Contact Info</h4>
        </div>
        <div class="modal-body">
        <div class="list-group">
           <li class="list-group-item">David Raskin (Creator)</li>
           <li class="list-group-item">E-mail: draskin1991@gmail.com</li>
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


<% include ../partials/footer %>